@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5b2386;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.lineWrap {
  display: block;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 125px;
  margin: 40px;
  background-image: url("../img/clock.png");
  background-position: center center;
  background-size: 125px 125px;
  background-repeat: no-repeat;
}

header #title {
  width: 280px;
}

.countHours .quote {
  font-family: "OTEnjoystoriesBA";
  font-size: 24px;
  font-weight: 400;
  color: #fcee21;
}

.countHours .description {
  margin: 55px;
  display: inline-block;
  width: 300px;
  line-height: 30px;
  background-image: url("../img/quotes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.descText {
  font-family: "GmarketSansMedium";
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.statement {
  margin: 17px;
}

.inputText {
  font-family: "GmarketSansMedium";
  width: 156px;
  height: 37px;
  text-align: center;
  border-radius: 7px;
  border: none;
}
.btn {
  font-family: "GmarketSansBold";
  color: #5b2386;
  background-color: #fcee21;
  border: none;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btnCount {
  position: relative;
  width: 240px;
  padding: 17px;
  margin: 32px;
  border-radius: 13px;
}

.btnCount::after {
  content: url("../img/click.png");
  position: absolute;
  left: 250px;
  top: 40px;
}

.btn-bottom {
  height: 40px;
  line-height: 25px;
  padding: 10px 20px;
  padding-bottom: 30px;
  border-radius: 56px;
  margin: 0 13px 50px 13px;
}

.result {
  margin: 30px auto 50px auto;
}

.resultStrong {
  font-size: 24px;
}
footer {
  margin: 30px;
  text-align: center;
}

footer .copyright {
  display: block;
  font-family: "Noto Sans KR";
  font-size: 8px;
  font-weight: 300;
  color: white;
  margin: 30px;
}

@media screen and (min-width: 768px) {
  header {
    width: 360px;
    height: 200px;
    margin: 40px;
    background-size: 200px 200px;
  }

  header #title {
    width: 360px;
  }

  .countHours .quote {
    font-size: 48px;
  }

  .countHours .description {
    margin: 55px;
    width: 600px;
    line-height: 50px;
  }

  .descText {
    font-size: 21px;
  }

  .inputText {
    width: 230px;
    height: 50px;
    font-size: 21px;
  }

  .btnCount {
    width: 480px;
    padding: 32px;
    margin: 48px;
  }

  .btnCount::after {
    content: url("../img/click.png");
    position: absolute;
    left: 500px;
    top: 70px;
  }

  .btn-bottom {
    height: 60px;
    line-height: 45px;
  }

  .resultStrong {
    font-size: 36px;
  }

  footer .copyright {
    display: block;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin: 30px;
  }
}

@media screen and (min-width: 1045px) {
  header {
    width: 520px;
    height: 280px;
    margin: 40px;
    background-size: 280px 280px;
  }

  header #title {
    width: 720px;
  }

  .btnCount {
    width: 600px;
    font-size: 36px;
    padding: 32px;
    margin: 50px;
    animation: click 1s linear infinite;
  }

  @keyframes click {
    from {
      transform: scale(0.9);
    }

    to {
      transform: scale(1);
    }
  }

  .btnCount::after {
    left: 630px;
    top: 100px;
  }

  .result {
    font-size: 42px;
  }
  .resultStrong {
    font-size: 72px;
  }
}
