.root{
    display: flex;
}

.ball{
    margin: 20px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: black;
}

.red{
    background-color: red;
}

.yellow{
    background-color: rgb(136, 112, 46);
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}