* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin: 20px;
}

div {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 100px;
  background-color: rgb(228, 158, 79);
  margin: 20px;
  font-weight: 700;
}

.c1 {
  animation: colorChange 3s linear 1s;
}

.c2 {
  animation: colorChange 3s linear 5s;
}

.c3 {
  animation: colorChange 3s linear 10s;
}

@keyframes colorChange {
  to {
    background-color: cornflowerblue;
  }
}
